Flask==3.0.0
Jinja2
jsonschema
lxml
OWSLib
pyproj
requests
Shapely
Werkzeug
SQLAlchemy
psutil
pywps
# pip3 install pyswmm -i https://mirrors.aliyun.com/pypi/simple/
# pip3 install swmm_api -i https://mirrors.aliyun.com/pypi/simple/
